[Unit]
Description=Skillbox
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker exec app stop
ExecStartPre=-/usr/bin/docker rm app
ExecStartPre=/usr/bin/docker pull "{{ registry }}/{{ ci_project_path }}/{{ ci_project_name }}":latest
ExecStart=/usr/bin/docker run --rm --name app \
    -p 8080:8080 \
    "{{ registry }}/{{ ci_project_path }}/{{ ci_project_name }}":latest
TimeoutSec=30

[Install]
WantedBy=default.target

