global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.
scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']
  {% for server in hostvars %}
- job_name: '{{  server  }}'
    scrape_interval: 5s
    static_configs:
      - targets: ['{{  server  }}:9100']
    metrics_path: /metrics
  {% endfor %}
