server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: "{{  loki_server  }}:3100/loki/api/v1/push"

scrape_configs:
  - job_name: system
    static_configs:
      - targets:
          - localhost
        labels:
          job: varlogs
          __path__: /var/log/*log
          host: {{  inventory_hostname  }}
  
 # - job_name: containers
 #   static_configs:
 #       labels:
 #         job: containerlogs
 #         __path__: /var/lib/docker/containers/*/*log 